{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.439"}
        org.clojure/core.async {:mvn/version "0.4.490"}}
 :aliases {:dev {:extra-paths ["dev" "test" "target" "resources"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              orchestra {:mvn/version "2018.12.06-2"}}}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-389"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-16"}
                               kaocha-noyoda {:mvn/version "2019-01-29"}}
                  :main-opts ["-m" "kaocha.runner"]}}}
