#kaocha/v1
{:kaocha.watch/ignore ["**/#*" "**/.#*"]
 :plugins [:noyoda.plugin/swap-actual-and-expected]
 :tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]}
         {:id :unit-cljs
          :type :kaocha.type/cljs
          :cljs/timeout 5000
          :cljs/repl-env cljs.repl.node/repl-env}]}
